@media (prefers-color-scheme: dark) {
    #lectures-schedule-table-div {
        background: #2b2b2b;
    }

}

@media (prefers-color-scheme: light) {
    #lectures-schedule-table-div {
        background: #7c7c7c;
    }

}

h1 {
     position: absolute;
     padding: 4px;
     float: left;
     margin-left: 2%;
     color: #FFFFFF;
}

h2 {
    text-align: center;
    font-size: 40px;
}


span {
     color: #ADD8E6;
}

ul {
    width: auto;
    float: right;
    margin-top: 8px;
}

li {
    display: inline-block;
    padding: 14px 28px;
}

a {
   text-align: center;
   color: #ffffff;
   text-decoration: none;
   font-size: 1.35vw;
}

a:hover {
  color: #ADD8E6;
  transition: 0.4s;
}

input { 
    padding: 10px;
    font-size: inherit;
    width: 100%;
     
}

input[type="submit"]{ 
     width: 100%;
     display: block;
     height: 45px;
     border: none;
     background: black;
     color: white;
     text-align: center;
}

     
form {
     margin: 20px auto;
     width: 320px;
     color: black;
     
}

#lectures-schedule-table, #lectures-schedule-table_wrapper {
    width: 100%;
    display: block;
    /*float: none;*/
}

#lectures-schedule-table-div {
    border-radius: 25px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    display: block;
}

.category-filter {
    position:relative;
}

#category-filter {
    position: absolute;
    right: 218px;
    top:0px;
    height: 32px;
    z-index: 999;

}




