@media (prefers-color-scheme: dark) {
    #lecturers-schedule-table-div {
        background: rgba(2,74,178,0.2);
    }

    #category-filter {
        color: white;
    }

    #category-filter {
        background-image:
                linear-gradient(rgba(170, 170, 170, 40),rgba(61, 61, 61, 100));
        border-radius: 5px;
        border: 1px solid rgb(170,170,170);
        background-color: rgba(0, 0, 0, 0);
    }

}

@media (prefers-color-scheme: light) {
    #lecturers-schedule-table-div {
        background: rgba(2,74,178,0.6);
    }

    #category-filter {
        color: black;
    }

    #category-filter {
        background-image:
                linear-gradient(rgba(170, 170, 170, 80),rgba(61, 61, 61, 0));
        border-radius: 5px;
        border: 1px solid rgb(170,170,170);
        background-color: rgba(0, 0, 0, 0.32);
    }

}

h2 {
    text-align: center;
    font-size: 40px;
}

input {
    padding: 10px;
    font-size: inherit;
    width: 100%;
     
}

input[type="submit"]{ 
     width: 100%;
     display: block;
     height: 45px;
     border: none;
     background: black;
     color: white;
     text-align: center;
}

     
form {
     margin: 20px auto;
     width: 320px;
     color: black;
     
}

#lecturers-schedule-table,
#lecturers-schedule-table_wrapper {
    width: 100%;
    display: block;
    /*float: none;*/
}

#lecturers-schedule-table-div {
    border-radius: 25px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    display: block;
}

.category-filter-container {
    position:relative;
}

#category-filter {
    position: absolute;
    right: 218px;
    top:0px;
    height: 32px;
    z-index: 997;
}


