@media (prefers-color-scheme: dark) {
    #login-button:hover {
        background-color: #2b2b2b;
        color: whitesmoke;
    }

    #login-button:active {
        background-color: #424242;
    }

    .Login-container {
        background: rgba(2,74,178,0.33);
    }

    input[type="text"], input[type="password"] {
        border: 2px solid rgba(0, 0, 0, 0.45);
        background-color: #2b2b2b;
        color: whitesmoke;
    }

    input[type="text"]::placeholder,
    input[type="password"]::placeholder,
    input[type="text"]::-ms-input-placeholder ,
    input[type="password"]::-ms-input-placeholder  {
        color: #9a9999;
        opacity: 1;
    }


    #login-button{
        background: rgba(2,74,128,1);
        border: 2px solid rgba(0, 0, 0, 0.45);
        color: whitesmoke;
    }

}

@media (prefers-color-scheme: light) {
    #login-button:hover {
        background-color: #2b2b2b;
    }

    #login-button:active {
        background-color: #424242;
    }

    .Login-container {
        background: rgba(2,74,178,0.6);
    }

    input[type="text"], input[type="password"] {
        border: 2px solid black;
    }

    #login-button{
        background: rgba(2,74,128,1);
        border: 2px solid rgba(0, 0, 0, 0.45);
        color: whitesmoke;
    }


}

h1 {
    text-align: center;
    font-size: 40px;
}

form {
    margin: 20px auto;
    width: 320px;
    color: black;
}

input {
    padding: 10px;
    font-size: inherit;
}

input[type="text"]{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border-radius: 25px;
    text-align: center;
}

input[type="password"]{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border-radius: 25px;
    text-align: center;
}

#login-button{
    width: 114px;
    height: 47px;
    border-radius: 25px;
}

.Login-container {
    margin: auto;
    width: 42%;
    max-width: 580px;
    border-radius: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -45%);
}