@media (prefers-color-scheme: dark) {
    body {
        color: rgb(250, 250, 250);
        background-color: #1F2022;
    }

    h1 {
        color: rgb(250, 250, 250);
    }

    /*for dataTables*/
    table.fixedHeader-floating {
        background-color:#1F2022!important;
    }
    /*for dataTables*/
    table.fixedHeader-locked {
        background-color:#1F2022!important;
    }

    /*for dataTables*/
    .dataTables_filter input {
        color: white
    }

    /*for dataTables*/
    label {
        color: white
    }

    /*for dataTables*/
    #table_id_info{
        color: white
    }

    /*for dataTables*/
    table.dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_processing,
    .dataTables_wrapper .dataTables_paginate {
        color: white!important;
    }

    table.dataTable tbody tr.myeven{
        background-color: rgba(103, 104, 134, 0.2);
    }
    table.dataTable tbody tr.myodd{
        background-color: rgba(103, 104, 134, 0.69);
    }

    button.dt-button > span {
        color: white !important;
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: #1F2022;
        background-color: white;
    }

    h1 {
        color: #1F2022;
    }

    table.dataTable tbody tr.myeven{
        background-color: rgba(196, 228, 248, 0.99);
    }
    table.dataTable tbody tr.myodd{
        background-color: rgba(105, 105, 105, 0.34);
    }

    button.dt-button > span {
        color: black !important;
    }

    .dataTables_wrapper .dataTables_filter input {
        border: 1px solid #494949 !important;
    }
}

.logout-link {
    font-size: 25px;
}

.heading {
    float: left;
    margin-left: 5px;
    margin-top: 8px;
    font-size: 44px;
    color: #FFFFFF;
}

header {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 75px;
    background-color: rgba(2,74,128,1);
}

body {
    padding: 0;
    margin-top: 75px;
    font-family: Nunito, sans-serif;
    font-weight: 400;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

/*dataTables*/
button.dt-button,
div.dt-button,
a.dt-button, input.dt-button {
    border-radius: 11px !important;
}

#dataTableContainer,
#dataTableContainer>tbody,
#dataTableContainer>tbody>tr,
#dataTableContainer>tbody>tr>td {
    display: block !important;
}