@media (prefers-color-scheme: dark) {
    body {
        color: rgb(250, 250, 250);
        background-color: #1F2022;
    }

    h1 {
        color: rgb(250, 250, 250);
    }

    /*for dataTables*/
    table.fixedHeader-floating {
        background-color: #003460 !important;
    }


    /*for dataTables*/
    .dataTables_filter input {
        color: white
    }

    /*for dataTables*/
    label {
        color: white
    }

    /*for dataTables*/
    #table_id_info{
        color: white
    }

    /*for dataTables*/
    table.dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_processing,
    .dataTables_wrapper .dataTables_paginate {
        color: white!important;
    }

    table.dataTable tbody tr.myeven{
        background-color: rgba(103, 104, 134, 0.2);
    }
    table.dataTable tbody tr.myodd{
        background-color: rgba(103, 104, 134, 0.69);
    }

    button.dt-button > span {
        color: white !important;
    }

    .form-filter, select, select option {
        background-color: #2b2b2b !important;
        color: white;
    }

    .form-filter {
        background-image:
                linear-gradient(rgba(170, 170, 170, 40),rgba(61, 61, 61, 100));
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0);
    }

    span {
        color: #ADD8E6;
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: #1F2022;
        background-color: #fff;
    }

    h1 {
        color: #1F2022;
    }

    table.dataTable tbody tr.myeven{
        background-color: rgba(196, 228, 248, 0.60);
    }
    table.dataTable tbody tr.myodd{
        background-color: rgba(105, 105, 105, 0.22);
    }

    button.dt-button > span {
        color: black !important;
    }

    .dataTables_wrapper .dataTables_filter input {
        border: 1px solid #494949 !important;
    }

    /*for dataTables*/
    table.fixedHeader-floating {
        background-color: #4d9ee3 !important;
    }

    .form-filter {
        color: black;
    }

    .form-filter {
        background-image:
                linear-gradient(rgba(255, 251, 251, 0.9),rgba(61, 61, 61, 0));
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.32);
    }

    #user-name {
        color: whitesmoke;
    }

    span {
        color: #0a0080;
    }

    /*test different text colour for tables in light mode*/
    /*    table.dataTable td {
            color: white;
        }

        table.dataTable th {
            color: white;
        }*/
}

body {
    padding: 0;
    margin-top: 60px;
    font-family: Nunito, sans-serif;
    font-weight: 400;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

#logout-link span, .heading span {
    color: #ADD8E6;
}

#user-name {
    font-size: 25px;
}

ul {
    width: auto;
    float: right;
    margin-top: 8px;
}

li {
    display: inline-block;
    margin-right: 10px;
}

a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;

}

a:hover {
    color: #ADD8E6;
    cursor: pointer;
    transition: 0.4s;
}

.logout-link {
    font-size: 25px;
    margin-top: 0px;
}

.heading {
    float: left;
    margin-left: 5px;
    margin-top: 0px;
    font-size: 37px;
    color: #FFFFFF;
}

header {
    z-index: 998;
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: rgba(2,74,128,1);
}

/*dataTables*/
button.dt-button,
div.dt-button,
a.dt-button, input.dt-button {
    border-radius: 11px !important;
}

#dataTableContainer,
#dataTableContainer>tbody,
#dataTableContainer>tbody>tr,
#dataTableContainer>tbody>tr>td {
    display: block !important;
}

.form-filter {
    border: none;
}