@media (prefers-color-scheme: dark) {
    #lectures-table-div, #instances-table-div, #schedule-table-div {
        background: #2b2b2b;
    }

    #selected-instance, #selected-lecturer {
        background-color: rgb(75, 75, 75);
        color: white;
        border-radius: 5px;
        border: 1px solid rgb(170,170,170);

    }

    #selected-instance:hover, #selected-lecturer:hover {
        background-color: rgba(170, 170, 170, 0.2);
    }

    #selected-instance:active, #selected-lecturer:active {
        background-color: rgba(5, 5, 5, 0.2);
    }

    #choose-a-lecturer-roll {
        color: whitesmoke;
        background-image:
                linear-gradient(rgba(170, 170, 170, 0.78),rgba(61, 61, 61, 100));
        border-radius: 5px;
        border: 1px solid rgb(170,170,170);
        background-color: rgba(0, 0, 0, 0);
    }

    #create-schedule {
        background: black;
        color: white;
    }

    #create-schedule:hover {
        background-color: #2b2b2b;
    }


    #create-schedule:active {
        background-color: #424242;
    }
}

@media (prefers-color-scheme: light) {
    #lectures-table-div, #instances-table-div, #schedule-table-div {
        background: #a4a3a3;
    }

    #selected-instance, #selected-lecturer {
        background-color: rgb(176, 175, 175);
        color: black;
        border-radius: 5px;
        border: 1px solid rgb(105, 105, 105);

    }

    #selected-instance:hover, #selected-lecturer:hover {
        background-color: rgba(170, 170, 170, 0.2);
    }

    #selected-instance:active, #selected-lecturer:active {
        background-color: rgba(5, 5, 5, 0.2);
    }

    .close-x {
        color: whitesmoke;
    }

    #choose-a-lecturer-roll {
        background-image:
                linear-gradient(rgba(170, 170, 170, 80),rgba(61, 61, 61, 0));
        border-radius: 5px;
        border: 1px solid rgb(170,170,170);
        background-color: rgba(0, 0, 0, 0);
    }

    #create-schedule {
        background: #807f7f;
        color: black;
    }

    #create-schedule:hover {
        background-color: #2b2b2b;
    }


    #create-schedule:active {
        background-color: #424242;
    }
}


h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 8.2px;
}

span {
     color: #ADD8E6;
}

ul {
    width: auto;
    float: right;
    margin-top: 8px;
}

li {
    display: inline-block;
    padding: 14px 28px;
}



a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;

}

a:hover {
    color: #ADD8E6;
    transition: 0.4s;
}

input {
    padding: 10px;
    font-size: inherit;
    width: 100%;
}

input[type="submit"] {
    width: 100%;
    display: block;
    height: 45px;
    border: none;
    background: black;
    color: white;
    text-align: center;
    border-radius: 25px;
}

#create-schedule  {
    width: 100%;
    display: block;
    height: 45px;
    border: none;
    margin-top: 25px;

    text-align: center;
    border-radius: 25px;
}

form {
    margin: 0px auto;
    width: 24%;
    display: block;
}

select {
    display: block;
    width:100%;
    border: none;
    border-radius: 4px;
    min-height: 21px;
    text-align: center;
}

#selected-instance, #selected-lecturer {
    display: block;
    width: 100%;
    min-height: 20px;
}


     
label {
}
     
#lectures-table-div {
    width: 29%;
    display: block;
    float: right;
    border-radius: 25px;
    padding: 7px;
}

#lectures-table, lectures-table_wrapper {
    width: 100%;
    float: left;
    display: block;
}


#instances-table-div {
    width: 36%;
    float:left;
    display: block;
    float: left;
    border-radius: 25px;
    padding: 7px;
}

#instances-table, #instances-table_wrapper {
    width: 100%;
    display: block;
    /*float: none;*/
}

#schedule-table-div {
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 10px;
    margin-top: 560px;
}

#schedule-table, #schedule-table_wrapper {
    width: 100%;
    display: block;
    /*float: none;*/
}

.close-x {
    position:absolute;
    top:5%;
    left:96.7%;
    font-weight: bold;
    font-size: 8px;
    background: black;
    border-radius: 100%;;
    padding-left: 2px;
    padding-right: 2px;
}

.close-x:hover {
    position:absolute;
    top:8%;
    left:96.7%;
    font-weight: bold;
    font-size: 8px;
    background: red;
    border-radius: 100%;;
    padding-left: 2px;
    padding-right: 2px;
}

.close-x-container {
    position:relative;
}

.dataTables_wrapper .dataTables_filter {
    margin-right: 10px;

}

.dtfh-floatingparent, .dtfh-floatingparenthead {
    top: 75px !important;
}

