@media (prefers-color-scheme: dark) {
    #lectures-table-div, #instances-table-div, #schedule-table-div {
        background: #2b2b2b;
    }
}
@media (prefers-color-scheme: light) {
    #lectures-table-div, #instances-table-div, #schedule-table-div {
        background: #7c7c7c;
    }

}



h1 {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 44px;
    color: #FFFFFF;
}

h2 {
    text-align: center;
    font-size: 40px;
}

span {
     color: #ADD8E6;
}

ul {
    width: auto;
    float: right;
    margin-top: 8px;
}

li {
    display: inline-block;
    padding: 14px 28px;
}

a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.35vw;
}

a:hover {
    color: #ADD8E6;
    transition: 0.4s;
}

input {
    padding: 10px;
    font-size: inherit;
    width: 100%;
}

input[type="submit"] {
    width: 100%;
    display: block;
    height: 45px;
    border: none;
    background: black;
    color: white;
    text-align: center;
    border-radius: 25px;
}

#create-schedule  {
    width: 100%;
    display: block;
    height: 45px;
    border: none;
    background: black;
    color: white;
    text-align: center;
    border-radius: 25px;
}


form {
    margin: 20px auto;
    width: 320px;
    color: black;
}

select {
    display: block;
    margin-bottom: 25px;
    width:100%;
    border: none;
    border-radius: 4px;
    min-height: 21px;
    text-align: center;
}

#selected-instance, #selected-lecturer {
    display: block;
    width: 100%;
    min-height: 20px;
}
     
label {
}
     
#lectures-table-div {
    width: 29%;
    display: inline-grid;
    float: right;
    border-radius: 25px;
    padding: 7px;
}

#lectures-table, lectures-table_wrapper {
    width: 50%;
    float: left;
}


#instances-table-div {
    width: 36%;
    float:left;
    display: inline-grid;
    float: left;
    border-radius: 25px;
    padding: 7px;
}

#instances-table, #instances-table_wrapper {
    width: 95%;
    /*float: none;*/
}

#schedule-table-div {
    border-radius: 25px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 10px;
    margin-top: 700px;
}

.close-x {
    position:absolute;
    top:5%;
    left:96.7%;
    font-weight: bold;
    font-size: 8px;
    background: black;
    border-radius: 100%;;
    padding-left: 2px;
    padding-right: 2px;
}

.close-x:hover {
    position:absolute;
    top:8%;
    left:96.7%;
    font-weight: bold;
    font-size: 8px;
    background: red;
    border-radius: 100%;;
    padding-left: 2px;
    padding-right: 2px;
}


.close-x-container {
    position:relative;

}
