@media (prefers-color-scheme: dark) {
    #lecturers-table-div,
    #instances-table-div,
    #schedule-table-div {
        background: rgba(2,74,178,0.2);
    }

    #selected-instance,
    #selected-lecturer {
        background-color: rgba(2,74,178,0.4);
        color: white;
        border-radius: 5px;
        border: 1px solid rgba(2,74,178,0.4);

    }

    #selected-instance:hover,
    #selected-lecturer:hover {
        background-color: rgba(170, 170, 170, 0.2);
    }

    #selected-instance:active,
    #selected-lecturer:active {
        background-color: rgba(5, 5, 5, 0.2);
    }

    #choose-a-lecturer-role {
        color: whitesmoke;
        background-image:
                linear-gradient(rgba(2, 74, 178, 0.93),rgba(2,74,178,0.4));
        border-radius: 5px;
        border: 1px solid rgb(170,170,170);
        background-color: rgba(0, 0, 0, 0);
    }

    #create-schedule {
        background: rgba(2,74,128,1);
        color: whitesmoke;
    }

    #cancel-button {
        background: rgb(128, 2, 2);
        color: whitesmoke;
    }

    #create-schedule:hover, #cancel-button:hover {
        background-color: #2b2b2b;
    }


    #create-schedule:active, #cancel-button:hover {
        background-color: #424242;
    }
}

@media (prefers-color-scheme: light) {
    #lecturers-table-div,
    #instances-table-div,
    #schedule-table-div {
        background: rgba(2,74,178,0.6);
    }

    #selected-instance,
    #selected-lecturer {
        background-color: rgba(2,74,178,0.4);
        color: black;
        border-radius: 5px;
        border: 1px solid rgba(2,74,178,0.4);

    }

    #selected-instance:hover,
    #selected-lecturer:hover {
        background-color: rgba(170, 170, 170, 0.2);
    }

    #selected-instance:active,
    #selected-lecturer:active {
        background-color: rgba(5, 5, 5, 0.2);
    }

    .close-x {
        color: whitesmoke;
    }

    #choose-a-lecturer-role {
        background-image:
                linear-gradient(rgba(2,74,178,0.6),rgba(2,74,178,0.4));
        border-radius: 5px;
        border: 1px solid rgb(170,170,170);
        background-color: rgba(0, 0, 0, 0);
    }

    #create-schedule {
        background: rgba(2,74,128,1);
        color: whitesmoke;
    }

    #cancel-button {
        background: rgb(128, 2, 2);
        color: whitesmoke;
    }

    #create-schedule:hover, #cancel-button:hover {
        background-color: #2b2b2b;
    }


    #create-schedule:active, #cancel-button:active {
        background-color: #424242;
    }
}


h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 8.2px;
}

input {
    padding: 10px;
    font-size: inherit;
    width: 100%;
}

input[type="submit"] {
    width: 100%;
    display: block;
    height: 45px;
    border: none;
    background: black;
    color: white;
    text-align: center;
    border-radius: 25px;
}

#create-schedule,
#cancel-button  {
    width: 100%;
    display: block;
    height: 45px;
    border: none;
    margin-top: 25px;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 25px;
}

form {
    margin: 0px auto;
    width: 24%;
    display: block;
}

select {
    display: block;
    width:100%;
    border: none;
    border-radius: 4px;
    min-height: 21px;
    text-align: center;
}

#selected-instance,
#selected-lecturer {
    display: block;
    width: 100%;
    min-height: 20px;
    padding: 0px 9px 0px 9px;
    font-size: 15px;
}

#choose-a-lecturer-role {
    font-size: 15px;
}

.form-label {
    font-size: 17px;
}

#lecturers-table-div {
    width: 29%;
    display: block;
    float: right;
    border-radius: 25px;
    padding: 7px;
}

#lecturers-table,
#lecturers-table_wrapper {
    width: 100%;
    float: left;
    display: block;
}


#instances-table-div {
    width: 36%;
    float:left;
    display: block;
    float: left;
    border-radius: 25px;
    padding: 7px;
}

#instances-table,
#instances-table_wrapper {
    width: 100%;
    display: block;
}

#schedule-table-div {
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 10px;
    margin-top: 560px;
}

#schedule-table,
#schedule-table_wrapper {
    width: 100%;
    display: block;
}

.close-x {
    position:absolute;
    top:5%;
    left:96.7%;
    font-weight: bold;
    font-size: 8px;
    background: black;
    border-radius: 100%;;
    padding-left: 2px;
    padding-right: 2px;
}

.close-x:hover {
    position:absolute;
    top:8%;
    left:96.7%;
    font-weight: bold;
    font-size: 8px;
    background: red;
    border-radius: 100%;;
    padding-left: 2px;
    padding-right: 2px;
}

.close-x-container {
    position:relative;
}

.error-massage {
    color: red;
    display: block;
    visibility: hidden;
}

.dataTables_wrapper,
.dataTables_filter {
    margin-right: 10px;

}

.dtfh-floatingparent,
.dtfh-floatingparenthead {
    top: 50px !important;
}

#toaster-message {
    visibility: hidden;
    min-width: 250px;
    background-color: rgb(85, 170, 243);
    color: #fff;
    text-align: center;
    border-radius: 48px;
    padding: 10px;
    position: fixed;
    z-index: 999;
    left: 50%;
    transform: translate(-50%, -0%);;
    top: 50px;
    font-size: 22px;
}

#toaster-message.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 50px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 50px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 50px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 50px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

.category-filter-container {
    position:relative;
}

.form-filter {
    position: absolute;
    right: 230px;
    top:0px;
    height: 32px;
    z-index: 997;
    width: 111px;
}

